body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0px 1px 10px lightgrey;
}

#canvas {
  background: #222;
  border-radius: 30px;
  cursor: crosshair;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
